.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header{
    height: 65px;
  }
  .header h1, .header .logo-container {
    font-weight: 400;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding: 15px 0;
    height: 65px;
    margin: 0;
  }
  header{
    background: #fff;
    position: fixed;
    z-index: 998;
  }
  header a, header h1 {
  }
  .header {
    position: fixed;
    z-index: 998;
    width: 100%;
  }
  .header a {
    text-decoration: none;
  }
  .navbar-item{
    cursor: pointer;
    position:relative;
  }
  .header nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 999;
    padding: 15px;
    box-shadow: 3px 0 8px #00000059;
    right: -100%;
    transition-duration: 0.4s;
    width: calc(100% - 76px);
    padding-top: 46px;
    background: #8EE7FF;
    align-items: center;
  }
  .nav_back{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition-duration: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  @media(max-width: 770px){
    .menu-open {
      overflow: hidden;
    }
    
    nav.-open + .nav_back{
      transition-duration: 0.4s;
      opacity: 1;
      visibility: visible;
      background: #00000057;
    }
    nav.-open {
      right: 0;
      transition-duration: 0.4s;
    }
  }
  
  
  nav .navbar-item {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 16px;
    width: max-content;
  }
  .navbar-burger.burger {
    position: absolute;
    right: 15px;
    top: calc((65px/2) - 12px);
    transform: rotate(180deg);
    height: 24px;
  }
  .navbar-burger.burger {
    position: fixed;
    z-index: 999;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    top: 14px;
    right: 15px;
  }
  .navbar-burger.burger:focus {
    outline: none;
  }
  .navbar-item .contact_content {
    display: inline;
    padding: 0;
  }
  .contact {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .contact, .contact a{
    color: #000;
    text-decoration: none;
  }
  .contact.mobile {
    font-size: 16px;
    line-height: 28px;
    padding: 25px;
    margin: 0;
    text-align: center;
    margin-top: 40px;
  }
  
  .social.mobile {
    font-size: 25px;
    line-height: 28px;
    padding: 25px;
    margin: 0;
    text-align: center;
  }
  
  .social.mobile img {
    width: 32px;
    height: 32px;
  }
  .h_banner{
    display: none;
  }
  .header .container{
    display: flex;
    width: 100%;
    align-items:center;
  }
  .header .logo-container {
    width: min-content;
    margin-right: auto;
    width: 52px;
  }
  

.logo {
    line-height: 22px;
    font-size: 28px;
    color: #F24C3D;
}

.logo >div:nth-child(1) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
}
.logo >div:nth-child(2){
  font-weight: 900;
}
.header nav .navbar-item:after {    
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background: #F24C3D;
  top: auto;
  background: linear-gradient(to right, #F24C3D 50%, #8EE7FF 50%);
  background-size: 202% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;}
.header nav .navbar-item:hover:after{
   background-position: left bottom;
}
.header nav .navbar-item.active:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background: #F24C3D;
}
.header nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header nav ul li {
  display: block;
  margin: 16px 16px 0 16px;
  text-align: left;
}
.header nav .submenu {
  margin-left: 25px;
}
  @media(min-width:770px){
      .header .container{
        display: flex;
        width: 100%;
        align-items:center;
      }
      .header h1,  .header .logo-container{
        font-size: 32px;
        text-align: left;
        width: auto;
      }
      .navbar-burger.burger{
        display: none;;
      }
      .header nav {
        visibility: visible;
        position: static;
        display: flex;
        padding: 0;
        box-shadow: none;
        width: auto;
        background: transparent;
        flex: 1 1;
        text-align: center;
        height: 65px;
    }
    .header nav ul {
      display: flex;
      height: 100%;
      flex-direction: revert;
    }
    
    .header nav ul li {
        display: inline;
        margin: 0 0 0 10px;
        position: relative;
    }
    ul.submenu {
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .header nav .submenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 54px;
      left: 10px;
      height: auto;
      margin: 0;
      background: #8EE7FF;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
      box-shadow: 1px 1px 5px rgb(0 0 0 / 0.3);
      transition: all .3s ease-out;
  }
  .header nav > ul > li:hover .submenu {
    opacity: 1;
    visibility: visible;
    
  }
  .header nav ul.submenu li {
    padding: 5px 15px;
    white-space: nowrap;
    transition: all .3s ease-out;
    margin: 0;
  }
  .header nav ul.submenu li:hover {
    background: #b6e3fd;
}
    .header nav a{
      color: #2b2b2b;
    }
    .mobile{
        display: none;
    }
    .h_banner {
        display: flex;
        width: auto;
        justify-content: flex-end;
        padding: 10px 0;
        margin: 0;
      }
      .header nav .navbar-item {
        font-size: 16px;
        padding: 0;
        margin: 0 0 0 10px;
        color: #000;
        line-height: 65px;
    }
    .contact a {
      color: #000;
      padding: 0 22px;
      line-height: 36px;
      border-radius: 4px;
      height: 36px;
      box-shadow: 1px 1px 0px 0px #0000009e;
      border: 1px solid #000000d1;
      transition: all .3s ease-out;
      display: block;
      font-size: 14px;
    }
    .contact a:hover {
      box-shadow: 1px 1px 4px 0px #0000009e;
    }
    .contact a:focus{
      box-shadow: 1px 1px 1px 0px #0000009e;
  }
  }  