.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header{
    height: 65px;
  }
  .header h1, .header .logo-container {
    font-weight: 400;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding: 15px 0;
    height: 65px;
    margin: 0;
  }
  header{
    background: #fff;
    position: fixed;
    z-index: 998;
  }
  header a, header h1 {
  }
  .header {
    position: fixed;
    z-index: 998;
    width: 100%;
  }
  .header a {
    text-decoration: none;
  }
  .navbar-item{
    cursor: pointer;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 999;
    padding: 15px;
    box-shadow: 3px 0 8px #00000059;
    right: -100%;
    transition-duration: 0.4s;
    width: calc(100% - 76px);
    padding-top: 46px;
    background: #8cd4ff;
  }
  .nav_back{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition-duration: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  @media(max-width: 770px){
    body.menu-open {
      overflow: hidden;
    }
    
    nav.-open + .nav_back{
      transition-duration: 0.4s;
      opacity: 1;
      visibility: visible;
      background: #00000057;
    }
    nav.-open {
      right: 0;
      transition-duration: 0.4s;
    }
  }
  
  
  nav .navbar-item {
    font-size: 18px;
    line-height: 28px;
    padding: 16px;
    margin: 0;
    text-align: center;
    color: #FF6292;
  }
  .navbar-burger.burger {
    position: absolute;
    right: 15px;
    top: calc((65px/2) - 12px);
    transform: rotate(180deg);
    height: 24px;
  }
  .navbar-burger.burger {
    position: fixed;
    z-index: 999;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    top: 14px;
    right: 15px;
  }
  .navbar-burger.burger:focus {
    outline: none;
  }
  .navbar-item .contact_content {
    display: inline;
    padding: 0;
  }
  .contact {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .contact, .contact a{
    color: #FF6292;;
    text-decoration: none;
  }
  contact.mobile {
    font-size: 16px;
    line-height: 28px;
    padding: 25px;
    margin: 0;
    text-align: center;
    margin-top: 40px;
  }
  
  .social.mobile {
    font-size: 25px;
    line-height: 28px;
    padding: 25px;
    margin: 0;
    text-align: center;
  }
  
  .social.mobile img {
    width: 32px;
    height: 32px;
  }
  .h_banner{
    display: none;
  }
  .header .container{
    display: flex;
    width: 100%;
    align-items:center;
  }
  .header .logo-container {
    width: min-content;
    margin-right: auto;
    width: 50px;
  }
  

.logo {
    line-height: 22px;
    font-size: 28px;
    color: #FF628B;
}

.logo >div:nth-child(1) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
}
.logo >div:nth-child(2){
  font-weight: 900;
}
  @media(min-width:770px){
    .header{
      }
      .header .container{
        display: flex;
        width: 100%;
        align-items:center;
      }
      .header h1,  .header .logo-container{
        font-size: 32px;
        text-align: left;
        width: auto;
      }
      .navbar-burger.burger{
        display: none;;
      }
      nav {
        visibility: visible;
        position: static;
        display: inline-block;
        padding: 0;
        box-shadow: none;
        width: auto;
        background: transparent;
        flex: 1;
        text-align: center;
    }
    nav a{
      color: #2b2b2b;
    }
    .mobile{
        display: none;
    }
    .h_banner {
        display: flex;
        width: auto;
        justify-content: flex-end;
        padding: 10px 0;
        margin: 0;
      }
      nav .navbar-item {
        font-size: 16px;
        padding: 0;
        margin: 0 0 0 10px;
        color: #000;
    }
    .contact a {
      color: #000;
    }
  }  