.contact__list {
    list-style: none;
    margin: 0px;
}
.contact__list li * {
    font-weight: 700;
    display: inline;
    margin-right: 12px;
    vertical-align: middle;
}
.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#kontakt {
    padding: 76px 0;
}
.contakt__open {
    margin-bottom: 25px;
}
.contakt__open h4 {
    margin-bottom: 15px;
}
section#kontakt-form {
    padding: 76px 0 0;

}
.kontakt-link {
    display: block;
    padding: 12px 0;
}

.kontakt-link * {
    display: inline;
    vertical-align: middle;
}

.kontakt-header>p {
    margin: 25px 0 8px 0;
}
@media(max-width: 699px){
    .kontakt-link {
        display: block;
        margin-bottom: 8px;
        box-shadow: 1px 1px 3px #00000057;
        text-align: center;
        background: #ff6290;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        margin: 15px 0;
    }
    .kontakt-link span {
        display: none;
    }
}
@media(min-width: 700px){
    section#kontakt-form {
        padding: 76px 0;
    }
    .kontakt-header {
        display: flex;
        flex-wrap: wrap;
    }
    
    .kontakt-header a {
        margin-left: 25px;
        padding: 0;
        line-height: 46px;
    }
}