.contact__list {
    list-style: none;
    margin: 0px;
}
.contact__list li * {
    font-weight: 700;
    display: inline;
    margin-right: 12px;
    vertical-align: middle;
}
.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#kontakt {
    padding: 76px 0;
}
.contakt__open {
    margin-bottom: 25px;
}
.contakt__open h4 {
    margin-bottom: 15px;
}
section#kontakt-form {
    padding: 76px 0 0;

}
.kontakt-link {
    display: block;
    padding: 12px 0;
}

.kontakt-link * {
    display: inline;
    vertical-align: middle;
}

.kontakt-link img {
    margin-right: 15px;
}
@media(min-width: 700px){
    section#kontakt-form {
        padding: 76px 0;
    }
    .kontakt-header {
        display: flex;
        flex-wrap: wrap;
    }
    
    .kontakt-header a {
        margin-left: 25px;
        padding: 0;
        line-height: 46px;
    }
}