@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
/*nav,*/
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
p, h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.row-margin-b{
  margin-bottom: 60px;
}
.col-4, .col-8, .col-6, .col-12 {width: 100%}
.col-gap{
  margin-bottom: 60px;
}
img {
  margin: auto;
}
h2{
  font-size: 34px;
  text-transform: uppercase;
  line-height: 48px;
  margin-bottom: 36px;
}
h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 46px;
  margin-bottom: 36px;
}
p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
}
.mobile{
  display: block;
}
.desctop{
  display: none;
}
.d-block{
  display: block!important;
}
.d-flex{
  display: flex;
}
.d-flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.d-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alert {
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 12px;
  font-weight: 700;
}
.border-b{
  border-bottom: 1px solid #000;
}
.breadcrumb__list {
  list-style: none;
  display: flex;
  margin: 25px 0 0;
}
.breadcrumb__list__item:last-of-type {
  font-weight: 700;
}
.breadcrumb__link {
  color: #000;
  text-decoration: none;
}
#welcome{
  padding-top: 65px;
  min-height: 100vh;
  display: flex;
  background: #8cd4ff;
}
.welcome-img {
  position: absolute;
  width: 80%;
  max-width: 421px;
  margin-left: auto;
  right: -100px;
  bottom: 88px;
  z-index: 0;
  max-height: 100%;
}

.welcome-content {
  width: 100%;
 max-width: 400px;
}

section#welcome .container {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-end;
}
.main-text{
  color: #ff6290;
}
.main-background{
  background: #8cd4ff;
}
.background__secondadry{
  background: #fafafa;
}
button {
  background: #ff6290;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 36px 0;
  cursor: pointer;
}
body{
  background: #fff;
}
h1{
  color: #ff6290;
    font-weight: 900;
}
.welcome-content h1 {
  margin-bottom: 100px;
  font-size: 48px;
  margin-top: 50px;
}
.welcome-content p {
  width: 50%;
  margin-bottom: 36px;
}

.welcome-opening {
  background: #ff6290;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  color: #fff;
  margin-top: auto;
  position: relative;
}
.welcome-content h1:after {
  content: "";
  width: 50%;
  height: 3px;
  background: #ff6290;
  display: block;
  margin-top: 15px;
}
.welcome-opening {
  display: flex;
}

.welcome-opening > div {
  text-align: center;
  flex: 1 1;
  padding: 16px;
  font-size: 12px;
}
.welcome-opening img {
  width: 25px;
  margin: 0 auto 8px auto;
  display: block;
}

.welcome-opening > div:not(:last-child) {
  border-right: 1px solid #ffffff80;
}
section#uslugi {
  background: #fff;
  padding: 76px 0;
}

.uslugi-header h2 {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 48px;
  margin-bottom: 36px;
}

.uslugi-header p {font-size: 14px;line-height: 24px;padding-bottom: 36px;margin: 0;}

.uslugi-content {
  display: flex;
  flex-wrap: wrap;
 
}

.uslugi-cart {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #000;
}

.uslugi-cart-title img {
  width: 24px;
  margin: 0;
  position: relative;
  z-index: 9;
}

.uslugi-cart-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
}
.uslugi-cart p {
  font-size: 14px;
  line-height: 24px;
}
.uslugi-cart-title h3 {
  font-size: 18px;
  font-variant-caps: petite-caps;
}

.uslugi-cart-title .uslugi-icon {
  margin-right: 30px;
  display: block;
  position: relative;
}
.uslugi-cart-title .uslugi-icon:after {content: "";width: 32px;height: 32px;background: #8cd4ff57;position: absolute;z-index: 0;border-radius: 50%;left: 8px;top: -13px;}
.uslugi-content button {
  margin-left: auto;
  margin-right: auto;
}
.uslugi-cart.for-btn {
  border: none;
  text-align: center;
}
.uslugi-header h2::first-line {
  line-height: 34px;
}
.uslugi-header p::first-line {
  line-height: 34px;
}
.uslugi-more span {
  font-size: 14px;
  margin-right: 12px;
  font-variant-caps: petite-caps;
  font-weight: bold;
  font-family:'Montserrat', sans-serif;
}

.uslugi-more {
  margin: 25px 0 0 0;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.uslugi-more svg {
  height: 12px;
  width: 24px;
}
section#office {
  background: #fafafa;
  padding-top: 54px;
}

.office-title h3 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 70px;
  margin-bottom: 36px;
  font-weight: 700;
}

.office-text p {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 36px;
  margin: 0;
}

.office-img {

  width: calc(100% + 30px);
}


.counter-element {
  width: fit-content;
  flex: 1;
  padding-right: 16px;
  border-top: 1px solid #333;
}
.office-counter {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  margin-top: 25px;
}

.counter-num {
  font-size: 28px;
  margin: 12px 0;
}

.counter-title {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 16px;
}
#footer {
  background: #010609;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 50%;
  margin-bottom: 25px;
}

.footer-bottom .footer-social {
  display: none;
}

.footer-bottom {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-top: 14px;
}

.footer-bottom:before {content: "";position: absolute;width: 100%;height: 1px;background: #ffffff8a;left: 0;top: 0;}

.footer-links a {
  text-decoration: none;
}

.footer-links ul {
  list-style: none;
  margin: 0;
}

.footer-link-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links li {
  font-size: 14px;
}
.footer-top .footer-social ul {
  display: flex;
}

.footer-top .footer-social li {
  margin: 0 20px 8px 0;
}

.footer-top .footer-social {
  margin-top: 25px;
}
.footer-social img {
  width: 25px;
}
#clients {
  padding: 76px 0 0;
}
.clients-item{
  display: flex!important;
  align-items: center;
  flex-direction: column-reverse;

}
.clients-item {
  position: relative;
}

.clients-item:after {content: "";position: absolute;top: 0;left: -15px;bottom: 0;background: #d5f1ff;z-index: -1;right: -15px;}
.clients-text, .clients-img{
  width: 100%;
}
.clients-text{
  padding: 60px 30px 30px;
  text-align: left;
}
.clients-img {
  padding: 0 15px;
}
.form-group button {
  margin: 0;
  flex: 1;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin-bottom: 25px;
}
.form-group label {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  padding-left: 15px;
}
.form-group input, .form-group textarea {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  flex: 2;
  background: #fafafa;
}
.form-group input:focus, .form-group textarea:focus{
  outline: none;
  background: #fff;
}
.form__border {
  border: 1px solid #000;
  border-radius: 4px;
}
#subscribe {
  padding: 32px 0;
  padding-bottom: 0px;
}
section#subscribe input {
  margin-right: -5px;
}
.subscribe-img {
  order: 1;
  width: 55%;
  margin: auto;
}
.form-group input:focus{
  outline: none;
}
.services-nav h4 {
  background: #FAFAFA;
  padding: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

ul.services-nav-list {
  list-style: none;
  margin: 0;
}

ul.services-nav-list li {
  
  margin: 0;
  border-bottom: 1px solid #C4c4c4;
}
ul.services-nav-list li a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px 30px;
  font-size: 14px;
  color: #000;
  line-height: 18px;
}

ul.services-nav-list li img {
  margin: 0;
  transform: rotate(90deg);
}
.subservices-items {
  margin-top: 70px;
}
.subservices-desc {
  overflow: hidden;
  transition: max-height 0.4s ease;}

.subservices-title {
  padding: 27px 0 26px;
}
.subservices-item {
  border-bottom: 1px solid #bcbcbc;
  cursor: pointer;
}

.subservices-title h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.subservices-item:last-child  {
  border: none;
}
.subservices-items .MuiAccordionSummary-content{
  margin: 0;
}
.subservices-items .MuiAccordionSummary-content.Mui-expanded{
  margin: 0px;
}
.subservices-items p{
  margin-bottom: 0px;
}
ul.services-nav-list .active a {
  font-weight: 700;
}

ul.services-nav-list .active img {
  transform: rotate(0deg);
  font-weight: 700;
}

ul.services-nav-list .active {
  border-color: #000;
}
.pupils-item {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.pupils-item h4 {
  margin-bottom: 15px;
}

.pupils-item .__desc {
  background: #F0FAFE;
  padding: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
.section{
  padding: 76px 0;
}
.order-1-mb{
  order: 1;
}
.onas-quot h4 {
  font-size: 33px;
  line-height: 42px;
  margin-bottom: 30px;
}
.office-person {
  position: relative;
  overflow: hidden;
}

.person-desc p {
  margin: 0;
}

.person-desc {
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F0FAFE;
  text-align: left;
  opacity: 0.8;
}
.person-desc h4 {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
}
section#spec {
  background: #F0FAFE;
}
@media (min-width: 700px){
  #clients {
    padding: 76px 0;
  }
  .person-desc{
    bottom:-100%;
    transition-duration: 0.4s;
    opacity: 1;
  }
  .office-person:hover .person-desc {
    bottom: 0;
  }
  .mobile{
    display: none;
  }
  .order-1-mb{
    order: unset;
  }
  .desctop{
    display: block;
  }
  .form-group textarea{
    height: calc(3*70px + 92px);
  }
  .clients-item:after {
    right: auto;
    left: 0px;
    width: 75%;
  }
  #office .container {
    display: flex;
  }
  .pupils-item .__desc{
    padding: 60px;
    margin-left: 0;
    margin-right: 0;
  }
  .office-container {
     
  }

  .office-img {
    
      margin: 0;
      display: flex;
      align-items: center;
  }

  .office-img .gatsby-image-wrapper {
      margin-top: auto;
      margin-bottom: auto;
      display: block;
      width: 100%;
  }
  
  .office-text {
    padding-right: 50px;
  }
  #subscribe{
    padding: 76px 0;
    padding-bottom: 0px;
  }
  #subscribe h3 {
    font-weight: 900;
    font-size: 46px;
    line-height: 74px;
    margin-bottom: 36px;
  }
  .subscribe-img{
    order: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 32px;
  }
  #subscribe form{
    margin-bottom: 80px;
  }
}
@media(max-width:699px){
  .gatsby-image-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}
}
@media(min-width: 770px){
  .col-4 {width: calc(100%/3);padding-left:30px; padding-right:30px}
  .col-8 {width: calc(2*(100%/3));padding-left:30px; padding-right:30px}
  .col-6{width:50%;padding-left:30px; padding-right:30px}
  .col-12{width:100%;padding-left:30px;padding-right:30px}
  .row{margin-left:-30px;margin-right: -30px }
  .container{
    padding: 0 30px;
  }
  .counter-element{
    flex:0;
    padding-right: 0;
  }
  .slider {
    width: calc(2*(100%/3));
  }

  .clients-item {
      flex-direction: row;
  }

  .clients-text {
      padding: 0 30px;
  }

  .clients-img {
    padding: 60px 0 60px 15px;
  }
  .counter-element:not(:last-of-type){
    padding-right: 32px;
  }
  .uslugi-cart {
    border: none;
}
.uslugi-cart.for-btn{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.welcome-opening {
  margin-left: 0;
  margin-right: 50%;
  width: 50%;
}

.welcome-opening img{
  margin-left: 0;
  width: 32px;
}
.uslugi-content button{
  margin: 0;
}
.welcome-opening > div {
  padding: 25px 16px;
  font-size: 16px;
  text-align: left;
}
.welcome-img {
  margin-left: 0;
  max-width: 550px;
  bottom: 0;
  z-index:0;
  margin-right: 50px;
}

.welcome-content {
  max-width: 500px;
  display:  flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-content h1 {
  margin-bottom: 60px;
  font-size: 74px;
}

.welcome-content button {
  width: max-content;
  padding: 8px 25px;
}
.uslugi-header {
  display: flex;
}

.uslugi-header h2 {
  width: calc(100% / 3);
  line-height: 59px;
  padding-right: 10%;
}

.uslugi-header p {
  display: block;
  line-height: 32px;
  width: calc(2*(100%/3));
}
.footer-links {
  width: auto;
  flex: 1;
}

.footer-links:first-of-type {
  flex: 2;
}

.footer-top .footer-social {
  display: none;
}

.footer-bottom .footer-social {
  display: block;
}

.footer-bottom .footer-social ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .footer-social li {
  margin-left: 15px;
}
.footer-links li{
  margin: 0;
}

}
button:focus{
  outline: none
}
@media(min-width: 900px){
  section#office {
    background: #fff;
    position: relative;
    z-index: 1;
    padding-bottom: 54px;
}

section#office:after {content: "";position: absolute;background: #fafafa;display: block;top: 0;left: 0;bottom: 0;width: 80%;z-index: -1;}

}
@media(min-width: 1260px){
  .container{
    max-width: 1200px;
    padding: 0;
  }
}
@media(min-width:1280px){
  section#office:after{
    width: calc(((100% - 1280px) / 2) + 1024px);
  }
}